## Define the stages & order of execution

stages:
  - CLUSTER-SETUP
  - INFRA-SETUP
  - CLUSTER-CONNECT
  - OPENEBS-INSTALL
  - FUNCTIONAL
  - CHAOS
  - DIRECTOR-GUI
  - CLUSTER-CLEANUP

## Setup kubernetes cluster using Rancher
cluster-create:
  image: harshshekhar15/gitlab-job:v2
  stage: CLUSTER-SETUP
  script:
    - chmod 755 ./stages/cluster-setup/setup
    - ./stages/cluster-setup/setup

## Deploy Director On-Prem
TCID-DIR-INSTALL-ON-LOCAL-HP:
  image: harshshekhar15/gitlab-job:v2
  stage: INFRA-SETUP
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/infra-setup/TCID-DIR-INSTALL-ON-LOCAL-HP
    - ./stages/infra-setup/TCID-DIR-INSTALL-ON-LOCAL-HP

create-api-key:
  image: harshshekhar15/gitlab-job:v2
  stage: CLUSTER-CONNECT
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/cluster-connect/create-apikey
    - ./stages/cluster-connect/create-apikey

cluster-connect:
  image: harshshekhar15/gitlab-job:v2
  stage: CLUSTER-CONNECT
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/cluster-connect/cluster-connect
    - ./stages/cluster-connect/cluster-connect

client-components-check:
  image: harshshekhar15/gitlab-job:v2
  stage: CLUSTER-CONNECT
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/cluster-connect/client-components-check
    - ./stages/cluster-connect/client-components-check

tcid-iuoi02-openebs-install:
  image: harshshekhar15/gitlab-job:v2
  stage: OPENEBS-INSTALL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/openebs-install/tcid-iuoi02-openebs-install
    - ./stages/openebs-install/tcid-iuoi02-openebs-install

cluster-2-health-check:
  image: harshshekhar15/gitlab-job:v2
  stage: OPENEBS-INSTALL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/openebs-install/cluster-2-health-check
    - ./stages/openebs-install/cluster-2-health-check

TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-STRIPE:
  image: harshshekhar15/gitlab-job:v2
  stage: OPENEBS-INSTALL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/openebs-install/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-STRIPE
    - ./stages/openebs-install/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-STRIPE

DEPLOY-CSI-PROVISIONER:
  image: harshshekhar15/gitlab-job:v2
  stage: OPENEBS-INSTALL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/openebs-install/deploy-csi-provisioner
    - ./stages/openebs-install/deploy-csi-provisioner

## Selenium Grid Spin up
selenium-grid-deploy:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-GUI
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/director-gui/selenium-grid-deploy
    - ./stages/director-gui/selenium-grid-deploy

## Selenium Grid Clean up
selenium-grid-cleanup:
  when: always
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-GUI
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/director-gui/selenium-grid-cleanup
    - ./stages/director-gui/selenium-grid-cleanup

e2e-metrics:
  when: always
  image: harshshekhar15/gitlab-job:v2
  stage: CLUSTER-CLEANUP
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/cluster-cleanup/e2e-metrics
    - ./stages/cluster-cleanup/e2e-metrics

## Functional Tests
Jiva-App-Target-Affinity:
  image: harshshekhar15/gitlab-job:v2
  stage: FUNCTIONAL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/functional/Jiva-App-Target-Affinity/app-target-affinity
    - ./stages/functional/Jiva-App-Target-Affinity/app-target-affinity

Jiva-Snapshot:
  image: harshshekhar15/gitlab-job:v2
  stage: FUNCTIONAL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/functional/Jiva-snapshot/jiva-snapshot
    - ./stages/functional/Jiva-snapshot/jiva-snapshot

Jiva-Snapshot-Clone:
  image: harshshekhar15/gitlab-job:v2
  stage: FUNCTIONAL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/functional/Jiva-Snapshot-Clone/jiva-snapshot-clone
    - ./stages/functional/Jiva-Snapshot-Clone/jiva-snapshot-clone

Jiva-Snapshot-Delete:
  image: harshshekhar15/gitlab-job:v2
  stage: FUNCTIONAL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/functional/Jiva-Snapshot-Delete/jiva-snapshot-delete
    - ./stages/functional/Jiva-Snapshot-Delete/jiva-snapshot-delete

Jiva-Volume-Scaleup:
  image: harshshekhar15/gitlab-job:v2
  stage: FUNCTIONAL
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/functional/Jiva-Volume-Scaleup/jiva-vol-scaleup
    - ./stages/functional/Jiva-Volume-Scaleup/jiva-vol-scaleup

# CHAOS Tests JOB

Jiva-App-Kill:
  image: harshshekhar15/gitlab-job:v2
  stage: CHAOS
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/chaos/Jiva-App-kill/jiva-app-kill
    - ./stages/chaos/Jiva-App-kill/jiva-app-kill

Jiva-Revision-Counter:
  image: harshshekhar15/gitlab-job:v2
  stage: CHAOS
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/chaos/Jiva-revision-counter/jiva-revision-counter
    - ./stages/chaos/Jiva-revision-counter/jiva-revision-counter

Jiva-Revision-Counter:
  image: harshshekhar15/gitlab-job:v2
  stage: CHAOS
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/chaos/Jiva-Replica-Network-Delay/jiva-replica-network-delay
    - ./stages/chaos/Jiva-Replica-Network-Delay/jiva-replica-network-delay

Jiva-Controller-Kill:
  image: harshshekhar15/gitlab-job:v2
  stage: CHAOS
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/chaos/Jiva-Controller-kill/jiva-controller-kill
    - ./stages/chaos/Jiva-Controller-kill/jiva-controller-kill

Jiva-Controller-Network-Delay:
  image: harshshekhar15/gitlab-job:v2
  stage: CHAOS
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/chaos/Jiva-Controller-Network-Delay/ctrl-network-delay
    - ./stages/chaos/Jiva-Controller-Network-Delay/ctrl-network-delay

Jiva-Replica-Node-Affinity:
  image: harshshekhar15/gitlab-job:v2
  stage: CHAOS
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/chaos/Jiva-Replica-Node-Affinity/rep-node-affinity
    - ./stages/chaos/Jiva-Replica-Node-Affinity/rep-node-affinity

## Revert the cluster to previous snapshot
cluster-cleanup:
  when: always
  image: harshshekhar15/gitlab-job:v2
  dependencies:
    - cluster-create
  stage: CLUSTER-CLEANUP
  script:
    - chmod 755 ./stages/cluster-cleanup/cleanup
    - ./stages/cluster-cleanup/cleanup

cluster2-cleanup:
  when: always
  image: harshshekhar15/gitlab-job:v2
  dependencies:
    - cluster-create
  stage: CLUSTER-CLEANUP
  script:
    - chmod 755 ./stages/cluster-cleanup/cluster2-cleanup
    - ./stages/cluster-cleanup/cluster2-cleanup
